##################################################
# Visual Studio
##################################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

##################################################
# Build Results
##################################################

bin/
obj/
Debug/
Release/
x64/
x86/
build/
Build/

##################################################
# .NET Core
##################################################

project.lock.json
project.fragment.lock.json
artifacts/

##################################################
# Rider / JetBrains
##################################################

.idea/
*.sln.iml

##################################################
# VS Code
##################################################

.vscode/

##################################################
# NuGet
##################################################

*.nupkg
*.snupkg
packages/
.nuget/
packages.config

##################################################
# Logs
##################################################

*.log

##################################################
# OS Files
##################################################

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store

##################################################
# Publish Output
##################################################

publish/
*.publishsettings

##################################################
# SQL LocalDB
##################################################

*.mdf
*.ldf

##################################################
# Entity Framework
##################################################

*.dbmdl

##################################################
# Resharper
##################################################

_ReSharper*/
*.DotSettings.user

##################################################
# Temporary Files
##################################################

*.tmp
*.cache
*.bak
*.swp